## Series

A `Series` is built on top of the `NumPy` array object. What differentiates the `NumPy array` from a `Series`, is that a `Series` can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [3]:
import numpy as np
import pandas as pd


# Check help(pd.Series) for a very detailed explanation and examples

### Creating a Series from Python Objects

### Index and Data Lists

Series can be created from Python lists and from NumPy arrays

In [6]:
my_index = ['USA', 'Canada', 'Mexico']
my_data = [1776, 1867, 1821]

In [10]:
my_serie = pd.Series(data=my_data, index=my_index)
my_serie

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
# Another example
names = ['Andrew', 'Bobo', 'Claire', 'David']
rand_data = np.random.randint(0, 100, 4)

print(names)
print(rand_data)

['Andrew', 'Bobo', 'Claire', 'David']
[44 31 71 17]

In [15]:
ages = pd.Series(rand_data, names)
ages

Andrew    44
Bobo      31
Claire    71
David     17
dtype: int64

### From a  Dictionary

In [17]:
ages = {'Sammy': 5, 'Frank': 10, 'Spike': 7}
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

### Named Index

In [20]:
# Example Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

# Into Pandas Series
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
# Values based on Named Index
sales_q1['Japan']

80

In [23]:
# Integer Based Location information
sales_q1[0]

80

### Operations

In [24]:
# Grab just the index keys
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [25]:
# Operations Broadcasted across entire Series
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [26]:
sales_q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

### Between Series

In [28]:
# A NaN will be placed for not shared index values
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [30]:
# Fill these NaN's with a value
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

---